<strong>Recovering password</strong>

<p>One request to recover password has been required to recover the email ({{ email }}).</p>
<p>To continue, use this token {{ token }} or click in the link below.</p>
<a href="{{ link }}">Create new password</a>.
